---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Kevin Jenkins" description=" kj-designz.com portfolio about">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Welcome to my site!"
			>
				<img
					width="1553"
					height="873"
					src="/assets/American-Flag.png"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My name is Kevin and I am currently a support engineer for a software company. I have a passion for technology and enjoy learning new things. In my spare time, I enjoy exercising, learning new skills and spending time with my family. I am also an excellent gardener and love growing my own food.
					</p>
					<p>
						I've recently started learning how to code and I am enjoying it. I am currently learning HTML, CSS, and JavaScript. I am also learning how to use React,Next.js, and Astro. This site is actually built with Astro! 
					</p>
					<p>
						I have been building websites for a few years now. I started with WordPress on a busted up home server and have since moved on to create fun web projects for family and friends and just for fun, using every tool I have come accross. 
					</p>
					<p>
						The majority of my interest is in design, and though it is enjoyable to code, I find it more enjoyable to be creative and solve problems. I am enrolled in Western Governor University for a B.S. in UI Experience Design. 
					</p>
					<p>
						One of the coolest parts of learning to code is using new tools such as AI to help with tasks that I am not sure how to do. I am always looking for ways to improve my skills and I am excited to see what the future holds.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul>
						<li>A.S. Computer Science - Indian River State College - 2020</li>
						<li>A.A. General Studies - Indian River State College - 2019</li>
						<li>B.S. UI Experience Design - Western Governor University - Currently Enrolled</li>
						<li>Network Administration - ITT Technical Institute - 2015 - 2016 (They Closed The School)</li>
						<li>Advanced Individual Training - United States Army - 2010 - 25Q</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certifications</h2>
				<div class="content">
					<h4>Hubspot</h4>
					<ul>
						<li>Service Hub - 2022</li>
						<li>Sales Software - 2023</li>
						<li>Marketing Software - 2023</li>
						<li>RevOps - 2024</li>
						<li>Inbound Marketing - 2023</li>
						</ul>
					<h4>Google</h4>
					<ul>
						<li>Google Analytics - 2022</li>
					</ul>
					<h4>Cisco</h4>
					<ul>
						<li>CCNA Routing and Switching - 2021</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	p {
		margin-top: 1rem;
	}

	ul {
		margin-top: 0.5rem;
	}

	h4 {
		margin-top: 1rem;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
