---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="user" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>User-Centered Design</h2>
		<p>Creating intuitive interfaces through user research, persona creation, and usability testing.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Cross-Functional Collaboration</h2>
		<p>Bridging design, technology, and business needs through effective team communication.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="data" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Data-Driven Design</h2>
		<p>Leveraging analytics and user feedback to inform and improve design decisions.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
